<div class="container">
  <h2>Football List Components</h2>
  <div *ngFor="let football of footballs" [routerLink]="['/footballs',football.id]">
    <p [appHoverHighlight]="'lightblue'" > ID:{{football.id}}</p>
    <p [appHoverHighlight]="'lightblue'"> playerName: {{football | namePosition| titlecase}}</p>
    <p [appHoverHighlight]="'lightblue'"> playerJerseyNumber:{{football.playerJerseyNumber}}</p>
    <p [appHoverHighlight]="'lightblue'">playerAge: {{football.playerAge | uppercase}}</p>
    <p [appHoverHighlight]="'lightblue'"> isplayertrophies: {{football.isplayertrophies ? 'Yes' : 'No'}}</p>
    <p [appHoverHighlight]="'lightblue'">{{football.budget | currency: 'CAD': "symbol"}}</p>
    <button type="button" (click)="deleteFootball(football.id)" [appHoverHighlight]="'lightblue'">Delete Football</button>
    <button type="button" (click)="edit()" [appHoverHighlight]="'lightblue'">Edit</button>
  </div>
</div>
<div *ngIf="error" class="error">{{ error }}</div>
