<div class="container">
  <h2>Football List Components</h2>
  <div *ngFor="let football of footballs" [routerLink]="['/footballs',football.playerName]">
    <p> ID:{{football.id}}</p>
    <p> playerName: {{football.playerName}}</p>
    <p> playerPosition: {{football.playerPosition}}</p>
    <p> playerJerseyNumber:{{football.playerJerseyNumber}}</p>
    <p>playerAge: {{football.playerAge}}</p>
    <p> isplayertrophies: {{football.isplayertrophies ? 'Yes' : 'No'}}</p>
    <button type="button" (click)="deleteFootball(football.id)">Delete Football</button>
    <button type="button" (click)="edit()">Edit</button>
  </div>
</div>
